.form{
    margin-left: 85px;
}
.starightss{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.sss{
 color: red; 
}
.downs{
    margin-top: 5px;
}

#inputID::placeholder {
    color:red;
  } 